@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<br>
    <h4 >Choose Your Resume Template</h4>
    <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="Persnolas" asp-action="Details">
        <img src="~/Resume/1sttemp.jpeg" class="templates">
    </a>
     <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="Persnolas" asp-action="Details">
        <img src="~/Resume/2nd.jpeg" class="templates" class="">
    </a>
     <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="Persnolas" asp-action="Details">
        <img src="~/Resume/3rd.jpeg" class="templates">
    </a>
     <a class="form-group" style="text-decoration:none" asp-area="" asp-controller="Persnolas" asp-action="Details">
        <img src="~/Resume/4th.jpeg" class="templates">
    </a>
</div>
