@model Core_Resume.Models.checkNumber

@{
    ViewData["Title"] = "checkOTP";
}

<h1>Enter OTP</h1>
<h5 style="color:green">We sent you message</h5>
@**<h5 style="color:red">@ViewBag.Message</h5> *@
<h4>checkNumber</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="checkOTP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OTP" class="control-label"></label>
                <input asp-for="OTP" class="form-control" />
                <span asp-validation-for="OTP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


