@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
	<title>Resume Builder</title>
	<link rel="stylesheet" type="text/css" href="~/Resume/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/scroll.css"> -->
	<link rel="stylesheet" type="text/css" href="~/Resume/css/column_scroll.css">
	<link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="~/Resume/css/thin_scroll.css">
	<link rel="stylesheet" type="text/css" href="~/Resume/css/theme.css">
	<link rel="stylesheet" type="text/css" href="~/Resume/css/main.css">
	<link rel="stylesheet" type="text/css" href="~/Resume/css/header.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<meta name="description" content="Online document editor like interface to create and save Resume">
	<meta name="keywords" content="resume,cv,maker,creator,generator,nitw,warangal,nit warangal,projects,computer science">
</head>

<body>
	<div class="container-fluid">
		@RenderBody()
    </div>


	<script type="text/javascript" src="~/Resume/js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Resume/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Resume/js/main.js"></script>
	<script type="text/javascript" src="~/Resume/js/header.js"></script>

</body>

</html>
